node_modules
dist
*.local
.env
.env.*
!.env.example
docker/nginx/ssl/*.pem
.DS_store

# --- IDE / Editors ---

# VS Code, Cursor
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

# JetBrains (IntelliJ, WebStorm, PhpStorm, etc.)
.idea/
*.iml
*.ipr
*.iws
out/
